:root {
  // KOLORY
  --pastel-red: #f46169;
  --light-green: #98e0b8;
  --purple: #b497d6;
  
  //FONTY
  --font-serif: 'Alegreya', serif;
  --font-sans-serif: 'Merriweather Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

@import 'mixins';

body {
  background: var(--light-green);
  min-height: 100vh;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;
  padding: 0 2rem;
}

footer {
  color: #000;
  @include font(--font-serif, 1.4rem, 400);
  text-align: center;
}

@import 'github';